* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: antiquewhite;
}

main {
    justify-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
}

#mainContent {
    width: 50rem;
    margin: 2rem 5rem 2rem 5rem;
}

#commandList {
    padding-left: 7rem;
    margin-left: 7rem;
}

#mainTitle {
    color: darkgray;
    background-color: black;
}

#smallJoke {
    font-size: smaller;
    font-weight: normal;
    margin-top: 1em;
}

img {
    width: 14em;
    height: 20em;
    margin-left: 15em;
}

p {
    color: black;
    font-weight: bold;
}

li {
    color: black;
    font-weight: bold;
}
